#holder{    
	height:200px;    
	width:550px;
	background-color:#F5F5F5;
	border:1px solid #A4A4A4;
	margin-left:10px;   
}
#canvas{    
	height:200px;    
	width:550px;
	background-color:#F5F5F5;
	border:1px solid #A4A4A4;
	margin-left:10px;   
}
#seatDescription li{
	verticle-align:middle;    
	list-style: none outside none;
	padding-left:35px;
	height:35px;
	float:left;
}
#place {
	position:relative;
	margin:7px;
}
#layout {
	position:relative;
	margin:7px;
}
#place a{
	font-size:0.7em;
	font-weight: bold;
	color: gray;
}
#place  li
{
	 list-style: none outside none;
	 position: absolute;
	 
}  
#place div {
	position: absolute;
}  

#place li:hover
{
	background-color:yellow;      
} 
#place .seat{
	background:url("images/available_seat.png") no-repeat scroll 0 0 transparent;
	height:35px;
	width:35px;
	display:flex;
	cursor: pointer;
	background-size: 25px;
	background-position: center center;
	justify-content: center;
	align-items: center;
}
#place .seat:hover{
	background-color: orange;
}
#place .seat:hover > a {
	color: black;
}

#place .selectedSeat
{ 
	background-image:url("images/booked.png");   
	cursor: not-allowed;       
}
#place .selectingSeat
{ 
	background-image:url("images/seat_select.png");        
}
/*batas*/
#layout div {
	position: absolute;
}  

#layout li:hover
{
	background-color:yellow;      
} 
#layout .seat{
	background:url("images/available_seat.png") no-repeat scroll 0 0 transparent;
	height:35px;
	width:35px;
	display:flex;
	cursor: pointer;
	background-size: 25px;
	background-position: center center;
	justify-content: center;
	align-items: center;
}
#layout .seat:hover{
	background-color: orange;
}
#layout .seat:hover > a {
	color: black;
}

#layout .selectedSeat
{ 
	background-image:url("images/booked.png");   
	cursor: not-allowed;       
}
#layout .selectingSeat
{ 
	background-image:url("images/seat_select.png");        
}
#layout a{
	font-size:0.7em;
	font-weight: bold;
	color: gray;
}

.space {
	width: 35px;
	height: 35px;
	background-color: lightgray;
}

input.box{
	width: 38px;
	height: 38px;
}

.coba{
	background:url("images/available_seat.png") no-repeat scroll 0 0 transparent;
	height:35px;
	width:35px;
	display:flex;
	cursor: pointer;
	background-size: 25px;
	background-position: center center;
	justify-content: center;
	align-items: center;
}